@media only screen and (max-width: 600px) {

  


#register {

text-align: center;
font-size: 20px;

}

input[type=text], select {
    width: 70%;
    padding: 6px ;
    margin-left: 5px;
    


    }

    input[type=email], select {
        width: 60%;
        padding: 6px ;
    
        }

        input[type=submit] {
            width: 100%;
            background-color: #63C5DA;
            color: black;
            border: none;
            padding: 14px 20px;
            cursor: pointer;
          }

          div{
            padding-top:15px;
            background-repeat:none;
            height:700px;
            background-size:100% 100%;
            
            }

            label {

                margin-left:8px;
            }
        }